<div class="row">
  <div class="well col-md-4 col-md-offset-4">
    <h1>Listing Chars</h1>
    <div class="panel panel-default">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @chars.each do |char| %>
          <tr>
            <td><%= char.name %></td>
            <td>
              <%= link_to 'Show', char, class: "btn btn-default btn-sm" %>
              <%= link_to 'Edit', edit_char_path(char), class: "btn btn-default btn-sm" %>
              <%= link_to 'Destroy', char, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %>
            </td>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'New Char', new_char_path %>
  </div>
  <br>
</div>
